*{
  box-sizing: border-box;
}
.App {
  color: #171010;
  display:flex;
  flex-direction: column;
}

a{
  color: #171010;
  text-decoration: none;
}

.tab{
  padding-bottom: 0.1rem;
}
.choosenOne{
  border-bottom: 2px solid black;
}
.choosenOne a{
  color:black;
}

.global{
  height:1.2rem;
  width:1.2rem;
}
